#switch:checked~.container .header__heading {
  visibility: hidden;
  font-size: 1.5em;
  font-family: bold;
}

#switch:checked~.container .header__heading::after {
  /* visibility: visible; */
  transform: translateY(-50%);
  opacity: 0;
  content: attr(data-text);
  display: block;
  animation: fadeIn 2s ease-in forwards;
}

.footer {
  height: 5vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5em;
  font-family: bold;

  background-color: var(--color-primary);
  color: var(--color-white);
}

/* Tab 2 Wall */
.scene {
  display: inline-block;
  vertical-align: middle;
  perspective: 5px;
  perspective-origin: 50% 50%;
  position: relative;
}

.wrap {
  position: absolute;
  width: 1000px;
  height: 1000px;
  left: -500px;
  top: -500px;
  transform-style: preserve-3d;
  animation: move 12s infinite linear;
  animation-fill-mode: forwards;
}

.wrap:nth-child(2) {
  animation: move 12s infinite linear;
  animation-delay: 6s;
}

.wall {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  animation: fade 12s infinite linear;
  animation-delay: 0;
}

.wrap:nth-child(2) .wall {
  animation-delay: 6s;
}

.wall-right {
  transform: rotateY(90deg) translateZ(500px);
}

.wall-left {
  transform: rotateY(-90deg) translateZ(500px);
}

.wall-top {
  transform: rotateX(90deg) translateZ(500px);
}

.wall-bottom {
  transform: rotateX(-90deg) translateZ(500px);
}

.wall-back {
  transform: rotateX(180deg) translateZ(500px);
}

.wall {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/PIA09959-1280x800_copy.jpg);
  background-size: cover;
}

/* Card */
.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 30vh;
  width: 30rem;
  color: var(--color-text);
}

.card__side {
  height: 100%;
  width: 100%;
  transition: all .8s ease;
  position: absolute;
  top: 0;
  left: 0;


  display: flex;
  justify-content: center;
  align-items: center;

  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side--front {
  background-color: var(--color-card-front);
}

.card__side--back {
  background-color: var(--color-card-back);
  transform: rotateY(180deg);
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0deg);
}

.card:hover .card__side--back:active {
  transform: scale(0.98) translateY(3%);
  box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.349);
}

.switch-container {
  height: 3rem;
  width: 20rem;

  position: absolute;
  display: block;
  outline: none;
  top: 0%;
  right: 10%;
}


.dark-light-switch,
.toggle {
  height: 2.8rem;
  border-radius: 100px;
}


.dark-light-switch {
  width: 100%;
  display: block;
  background-color: var(--color-switch-bg);
  border-radius: 100px;
  position: relative;
  margin: 15% 0 4rem 0;
  cursor: pointer;

}

.toggle {
  position: absolute;
  width: 50%;
  background-color: var(--color-white);
  box-shadow: 0 2px 15px rgba(0, 0, 0, .15);
  transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.light {
  color: var(--color-black);
}


.names {
  font-size: 90%;
  font-weight: bolder;
  width: 65%;
  margin-left: 17.5%;
  margin-top: 3.5%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.dark {
  opacity: .5;
}


#switch {
  display: none;
}

#switch:checked~.container .toggle {
  transform: translateX(100%);
  background-color: var(--color-toggle-checked);
}

#switch:checked~.container .dark {
  opacity: 1;
}

#switch:checked~.container .light {
  opacity: .5;
  color: var(--color-white);
}


.tilt-card {
  margin-top: 10vh;
}

.tilt-box-wrap {
  width: 300px;
  height: 300px;
  position: relative;
  transition: all 0.3s ease-out;
  perspective: 1000px;
}

.tilt-box {
  width: 100%;
  height: 100%;
  background-color: var(--color-tilt-box);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: var(--color-white);
  text-transform: uppercase;
  transition: all .6s ease-out;
  transform: rotateX(0deg) rotateY(0deg);
  perspective: 1000px;
  transform-style: preserve-3d;
}

.tilt-box strong {
  transition: translateZ(40px);

}

.tilt-box-wrap:hover {
  transition: all .3s linear;
  transform: scale(1.1);
}

.t_over {
  width: 33.333%;
  height: 33.333%;
  position: absolute;
  z-index: 1;
}

.t_over:nth-child(1) {
  left: 0;
  top: 0;
}

.t_over:nth-child(2) {
  left: 33.333%;
  top: 0;
}

.t_over:nth-child(3) {
  left: 66.666%;
  top: 0;
}

.t_over:nth-child(4) {
  left: 0;
  top: 33.333%;
}

.t_over:nth-child(5) {
  left: 33.333%;
  top: 33.333%;
}

.t_over:nth-child(6) {
  left: 66.666%;
  top: 33.333%;
}

.t_over:nth-child(7) {
  left: 0;
  top: 66.666%;
}

.t_over:nth-child(8) {
  left: 33.333%;
  top: 66.666%;
}

.t_over:nth-child(9) {
  left: 66.666%;
  top: 66.666%;
}


.t_over:nth-child(1):hover~.tilt-box {
  transform: rotateX(-20deg) rotateY(20deg);
}

.t_over:nth-child(2):hover~.tilt-box {
  transform: rotateX(-20deg) rotateY(0deg);
}

.t_over:nth-child(3):hover~.tilt-box {
  transform: rotateX(-20deg) rotateY(-20deg);
}

.t_over:nth-child(4):hover~.tilt-box {
  transform: rotateX(0deg) rotateY(20deg);
}

.t_over:nth-child(5):hover~.tilt-box {
  transform: rotateX(0deg) rotateY(0deg);
}

.t_over:nth-child(6):hover~.tilt-box {
  transform: rotateX(0deg) rotateY(-20deg);
}

.t_over:nth-child(7):hover~.tilt-box {
  transform: rotateX(20deg) rotateY(20deg);
}

.t_over:nth-child(8):hover~.tilt-box {
  transform: rotateX(20deg) rotateY(0deg);
}

.t_over:nth-child(9):hover~.tilt-box {
  transform: rotateX(20deg) rotateY(-20deg);
}