html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

:root {
  --color-primary: #2d2d2d;

  --color-side: #2d2d2d;
  --color-white: #fff;

  --color-border-red: #dc2929;
  --color-shadow: rgba(68, 67, 67, 0.897);

  --color-tab-selected: #dc2929a4;
  --color-tab-unselected: #5f29dc83;

  --width-side-menu: 10rem;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a:link,
a:active,
a:visited {
  text-decoration: none;
  color: currentColor;
}



body {
  font-size: 1.6rem;
  margin: 0 auto;
  position: relative;

  /* animation: .5s fadeId 1s backwards; */
  /* animation-delay: .2s; */
}

.header {
  position: sticky;
  top: 0;
}

#side-checkbox {
  display: none;
}

.side-bar {
  transition: transform .3s;
  transform: translateX(calc(-1 * var(--width-side-menu)));
  background-color: var(--color-side);
  color: var(--color-white);
}

.main-body {
  transition: transform .3s;
}

#side-checkbox:checked~.side-bar {
  transform: translate(0);
}

#side-checkbox:checked~.main-body,
#side-checkbox:checked~.menu-button {
  transform: translateX(var(--width-side-menu));
}

.container {
  min-width: 50rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.menu-button {
  height: 3rem;
  width: 3rem;
  background-color: rgba(0, 0, 0, 0.3);

  position: fixed;
  top: .3rem;
  left: 1rem;
  z-index: 101;
  color: var(--color-white);
}

.side-bar {
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: var(--width-side-menu);
}

.side-bar__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10vh;
}

.side-bar__item {
  padding: 1rem;
}

.side-bar__item:hover {
  color: black;
  background-color: var(--color-white);
}

.main-container {
  margin: 0 auto;
}

.tab-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  padding-top: 10rem;
}

input[type="radio"] {
  display: none;
}

label.tab__label {
  height: 3rem;
  max-width: 20rem;
  width: 15vw;

  padding: 1rem;

  order: 0;
}

label.tab__label:not(:first-of-type) {
  border-left: none;
}

.tab__box {
  display: none;
}

input[name="tab__radio"]+label {
  background-color: var(--color-tab-unselected);
}

input[name="tab__radio"]:checked+label {
  background-color: var(--color-tab-selected);
}

input[name="tab__radio"]:checked+label+.tab__box {
  display: block;
  width: 100%;
  padding: 1rem;
  order: 1;
  align-self: stretch;
  min-height: 40rem;
  background-color: var(--color-tab-selected);
}

#tab__radio--2:checked+.tab__label+.tab__box {
  overflow: hidden;
}

#tab__radio--3:checked+.tab__label+.tab__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#tab__radio--3:checked+.tab__label+.tab__box .tab__text {
  font-size: 3rem;
  color: var(--color-white);
  animation: 2s moveIn ease-in backwards;
}


section:not(:first-of-type) {
  padding-top: 10rem;
  height: 40vh;
}