html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a:link,
a:active,
a:visited {
  text-decoration: none;
  color: currentColor;
}

:root {
  /* --color-white: #fff; */
  --color-white: rgb(255, 255, 255);
  --color-toggle-checked: rgba(0, 0, 0, 0);
  --color-shadow-dark: rgba(0, 0, 0, 0.712);
  --width-side-menu: 12rem;
  --height-header: 6rem;
}

body {
  font-size: 1.6rem;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;

  opacity: 0;
  visibility: hidden;
  animation: fadeIn 1s ease-in forwards;
  /* animation: .5s fadeIn 1s backwards;
  animation-delay: .2s; */
}

.container {
  animation: color-toggle-to-light .7s ease-in forwards;
}

#switch:checked~.container {
  animation: color-toggle-to-dark .7s ease-in forwards;
}

#switch:checked~.container .header__heading {
  visibility: hidden;
  font-size: 1.5em;
  font-family: bold;
}

#switch:checked~.container .header__heading::after {
  /* visibility: visible; */
  transform: translateY(-50%);
  opacity: 0;
  content: attr(data-text);
  display: block;
  animation: fadeIn 2s ease-in forwards;
}

.switch-container {
  height: 3rem;
  width: 20rem;

  position: absolute;
  display: block;
  outline: none;
  top: 0%;
  right: 10%;
}

.dark-light-switch,
.toggle {
  height: 2.8rem;
  border-radius: 100px;
}

.dark-light-switch {
  width: 100%;
  display: block;
  background-color: var(--color-switch-bg);
  border-radius: 100px;
  position: relative;
  margin: 3% 0 4rem 0;
  cursor: pointer;
}

.toggle {
  position: absolute;
  width: 50%;
  background-color: var(--color-white);
  box-shadow: 0 2px 15px rgba(0, 0, 0, .15);
  transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.light {
  color: var(--color-black);
}

.names {
  font-size: 90%;
  font-weight: bolder;
  width: 65%;
  margin-left: 17.5%;
  margin-top: 3.5%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.dark {
  opacity: .5;
}

#switch {
  display: none;
}

#switch:checked~.container .toggle {
  transform: translateX(100%);
  background-color: var(--color-toggle-checked);
}

#switch:checked~.container .dark {
  opacity: 1;
}

#switch:checked~.container .light {
  opacity: .5;
  color: var(--color-white);
}

.header {
  height: 7vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  z-index: 10;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.header__heading--char {
  display: inline-block;
  animation: jumpChar 1s ease-in-out;
  font-size: 1.5em;
  font-family: bold;
}

#side-checkbox {
  display: none;
}

.side-bar {
  transition: transform .3s;
  transform: translateX(calc(-1 * var(--width-side-menu)));
  background-color: var(--color-side);
  color: var(--color-white);
  z-index: 100;
}

#side-checkbox:checked~.container .side-bar {
  transform: translate(0);
}

#side-checkbox~.container section[id^="section"],
#side-checkbox~.menu-button {
  transform: translateX(0);
  transition: transform .2s ease-in;
}

#side-checkbox:checked~.container section[id^="section"],
#side-checkbox:checked~.menu-button {
  transform: translateX(var(--width-side-menu));
}

.container {
  min-width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.menu-button {
  height: 3rem;
  width: 3rem;
  position: fixed;
  top: 2%;
  left: 2%;
  z-index: 11;
  color: var(--color-white);
}

.side-bar {
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: var(--width-side-menu);
}

.side-bar__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: var(--height-header);

}

.side-bar__item {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-bar__item:hover {
  color: var(--color-black);
  background-color: var(--color-white);
}

.tab-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;

  color: var(--color-text);
  width: 80%;
}

input[type="radio"] {
  display: none;
}

label.tab__label {
  height: 3rem;
  max-width: 20rem;
  width: 15vw;

  padding: 1rem;

  order: 0;
}

label.tab__label:not(:first-of-type) {
  border-left: none;
}

.tab__box {
  display: none;
}

input[name="tab__radio"]+label {
  background-color: var(--color-tab-unselected);
}

input[name="tab__radio"]:checked+label {
  background-color: var(--color-tab-selected);
}

input[name="tab__radio"]:checked+label+.tab__box {
  display: block;
  width: 100%;
  padding: 1rem;
  order: 1;
  align-self: stretch;
  min-height: 40rem;
  background-color: var(--color-tab-selected);
}

#tab__radio--2:checked+.tab__label+.tab__box {
  overflow: hidden;
}

#tab__radio--3:checked+.tab__label+.tab__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#tab__radio--3:checked+.tab__label+.tab__box .tab__text {
  font-size: 3rem;
  color: var(--color-white);
  animation: 2s moveIn ease-in backwards;
}


/* Tab 2 Wall */
.scene {
  display: inline-block;
  vertical-align: middle;
  perspective: 5px;
  perspective-origin: 50% 50%;
  position: relative;
}

.wrap {
  position: absolute;
  width: 1000px;
  height: 1000px;
  left: -500px;
  top: -500px;
  transform-style: preserve-3d;
  animation: move 12s infinite linear;
  animation-fill-mode: forwards;
}

.wrap:nth-child(2) {
  animation: move 12s infinite linear;
  animation-delay: 6s;
}

.wall {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  animation: fade 12s infinite linear;
  animation-delay: 0;
}

.wrap:nth-child(2) .wall {
  animation-delay: 6s;
}

.wall-right {
  transform: rotateY(90deg) translateZ(500px);
}

.wall-left {
  transform: rotateY(-90deg) translateZ(500px);
}

.wall-top {
  transform: rotateX(90deg) translateZ(500px);
}

.wall-bottom {
  transform: rotateX(-90deg) translateZ(500px);
}

.wall-back {
  transform: rotateX(180deg) translateZ(500px);
}

.wall {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/PIA09959-1280x800_copy.jpg);
  background-size: cover;
}

section {
  height: 100vh;
}

section:not(:first-of-type) {
  padding-top: 20rem;
  min-width: 50%;
  min-height: max-content;
  padding-bottom: 20rem;
}

#section1:target~.side-bar .side-bar__item:nth-of-type(1) {
  background-color: var(--color-white);
  color: var(--color-side);
}

#section2:target~.side-bar .side-bar__item:nth-of-type(2) {
  background-color: var(--color-white);
  color: var(--color-side);
}

#section3:target~.side-bar .side-bar__item:nth-of-type(3) {
  background-color: var(--color-white);
  color: var(--color-side);
}

#section4:target~.side-bar .side-bar__item:nth-of-type(4) {
  background-color: var(--color-white);
  color: var(--color-side);
}

#section5:target~.side-bar .side-bar__item:nth-of-type(5) {
  background-color: var(--color-white);
  color: var(--color-side);
}

#section6:target~.side-bar .side-bar__item:nth-of-type(6) {
  background-color: var(--color-white);
  color: var(--color-side);
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

/* Card */
.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 30vh;
  width: 30rem;
  color: var(--color-text);
}

.card__side {
  height: 100%;
  width: 100%;
  transition: all .8s ease;
  position: absolute;
  top: 0;
  left: 0;


  display: flex;
  justify-content: center;
  align-items: center;

  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side--front {
  background-color: var(--color-card-front);
}

.card__side--back {
  background-color: var(--color-card-back);
  transform: rotateY(180deg);
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0deg);
}

.card:hover .card__side--back:active {
  transform: scale(0.98) translateY(3%);
  box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.349);
}




.tilt-card {
  margin-top: 10vh;
}

.tilt-box-wrap {
  width: 300px;
  height: 300px;
  position: relative;
  transition: all 0.3s ease-out;
  perspective: 1000px;
}

.tilt-box {
  width: 100%;
  height: 100%;
  background-color: var(--color-tilt-box);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: var(--color-white);
  text-transform: uppercase;
  transition: all .6s ease-out;
  transform: rotateX(0deg) rotateY(0deg);
  perspective: 1000px;
  transform-style: preserve-3d;
}

.tilt-box strong {
  transition: translateZ(40px);

}

.tilt-box-wrap:hover {
  transition: all .3s linear;
  transform: scale(1.1);
}

.t_over {
  width: 33.333%;
  height: 33.333%;
  position: absolute;
  z-index: 1;
}

.t_over:nth-child(1) {
  left: 0;
  top: 0;
}

.t_over:nth-child(2) {
  left: 33.333%;
  top: 0;
}

.t_over:nth-child(3) {
  left: 66.666%;
  top: 0;
}

.t_over:nth-child(4) {
  left: 0;
  top: 33.333%;
}

.t_over:nth-child(5) {
  left: 33.333%;
  top: 33.333%;
}

.t_over:nth-child(6) {
  left: 66.666%;
  top: 33.333%;
}

.t_over:nth-child(7) {
  left: 0;
  top: 66.666%;
}

.t_over:nth-child(8) {
  left: 33.333%;
  top: 66.666%;
}

.t_over:nth-child(9) {
  left: 66.666%;
  top: 66.666%;
}


.t_over:nth-child(1):hover~.tilt-box {
  transform: rotateX(-20deg) rotateY(20deg);
}

.t_over:nth-child(2):hover~.tilt-box {
  transform: rotateX(-20deg) rotateY(0deg);
}

.t_over:nth-child(3):hover~.tilt-box {
  transform: rotateX(-20deg) rotateY(-20deg);
}

.t_over:nth-child(4):hover~.tilt-box {
  transform: rotateX(0deg) rotateY(20deg);
}

.t_over:nth-child(5):hover~.tilt-box {
  transform: rotateX(0deg) rotateY(0deg);
}

.t_over:nth-child(6):hover~.tilt-box {
  transform: rotateX(0deg) rotateY(-20deg);
}

.t_over:nth-child(7):hover~.tilt-box {
  transform: rotateX(20deg) rotateY(20deg);
}

.t_over:nth-child(8):hover~.tilt-box {
  transform: rotateX(20deg) rotateY(0deg);
}

.t_over:nth-child(9):hover~.tilt-box {
  transform: rotateX(20deg) rotateY(-20deg);
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-btn {
  height: 10rem;
  width: 20rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-modal-btn);
  color: var(--color-white);
  border-radius: 3px;
  box-shadow: 1px 0 5px var(--color-shadow);
  transition: transform .2s, box-shadow .1s;
}

.modal-btn:hover {
  transform: translateY(-1%) scale(1.05);
  box-shadow: 3px 0 10px var(--color-shadow);
}

.modal-btn:active {
  transform: translateY(0%) scale(0.98);
  box-shadow:
    inset 5px 5px 10px var(--color-shadow),
    inset -5px -5px 10px var(--color-shadow);
}

.modal-btn a {
  width: 100%;
  height: 100%;
  display: block;
}

.modal-btn__text {
  width: 100%;
  height: 100%;
  color: var(--color-white);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.774);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 20;
  visibility: hidden;
  opacity: 0;
}

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 70%;
  background-color: var(--color-white);
  visibility: hidden;
  opacity: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10px;
}

.modal__content p {
  line-height: 1.5;
}

.modal:target,
.modal:target .modal__content {
  opacity: 1;
  visibility: visible;
}

.close {
  display: block;
  position: absolute;
  top: 0;
  right: 1rem;

  font-size: 2em;
}

.close:hover {
  transform: scale(1.1);
}

.close:active {
  transform: scale(0.9);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: max-content;

  padding: 5rem;
  gap: 2rem;
}

.form:focus-within {
  border: 1px solid rgba(0, 0, 0, 0.301);
  box-shadow: 1px 1px 3px var(--color-shadow);
}

.form-row {
  display: flex;
  flex-direction: column;
}

.form__input {
  margin-top: 1rem;
  padding: 1rem;
  border: solid 1px grey;
  border-radius: 5rem;
  outline: none;
}

.form__submit {
  margin-top: 2rem;
  padding: .5rem;
  border: solid 1px var(--color-border-submit-btn);
  border-radius: 5rem;
  color: var(--color-white);
  background-color: var(--color-submit-btn);
  transition: .1s transform;
}

.form__submit:hover {
  transform: scale(1.03);
}

.form__submit:active {
  box-shadow:
    inset 2px 2px 3px var(--color-shadow),
    inset -2px -2px 3px var(--color-shadow);
}

label[class$="-form__label"] {
  color: grey;
  margin-top: 1rem;
  margin-left: 1.2rem;

  transition: all .3s;
}

.form__input:placeholder-shown+label[class$="-form__label"] {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.form__input:focus:invalid {
  border-bottom: 3px solid var(--color-invalid-form);
}


.popup {
  width: 30rem;
  line-height: 2;
  height: 20rem;
  padding: 3rem;
  border: 2px solid black;
  border-radius: 3rem;
  background-color: rgba(255, 255, 255, 0.75);

  position: absolute;
  top: 40%;
  left: 150%;
}

.popup__heading {
  font-size: 1.5em;
  font-family: bold;
  text-align: center;
}

#section5:target .popup {
  animation: popup 5s ease-out 1s forwards;
}


.footer {
  height: 5vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5em;
  font-family: bold;

  background-color: var(--color-primary);
  color: var(--color-white);
}